*:before,
*:after,
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    font-weight: 300;
}

canvas {
    background: #a7e1fd;
}

body {
    margin: 0;
    background: #335c82;
}
